Repository carlocorradini/graphql-auth-directive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write",
  "*.md": "markdownlint"
}

chore(deps): updated typescript to latest version
  package-lock.json
  package.json
Due: prettier --write

chore(examples): fix typo
  examples/typegraphql/index.ts
Due: eslint --fix, prettier --write

feat: version v0.5.0
  .eslintrc
  CHANGELOG.md
  examples/typegraphql/index.ts
  jest.config.ts
  package-lock.json
  package.json
  tests/authentication.test.ts
  tests/container.test.ts
  tests/tsconfig.json
Due: eslint --fix, prettier --write, markdownlint

chore(package): bump version
  package.json
Due: prettier --write

refactor: prepublish only
  package.json
Due: prettier --write

fix: upgrade @graphql-tools/utils from 9.2.0 to 9.2.1
  package-lock.json
  package.json
Due: prettier --write

fix: fix import paths
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

chore(prerelease): bump version
  package-lock.json
  package.json
Due: prettier --write

ci: update ci.yml
  .github/workflows/ci.yml
Due: none

fix: upgrade graphql from 16.6.0 to 16.7.0
  package-lock.json
  package.json
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade graphql from 16.8.0 to 16.9.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade graphql from 16.8.0 to 16.10.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade fsevents from 2.3.2 to 2.3.3
  package-lock.json
  package.json
Due: prettier --write
